*{
    margin:0px;
}
.container{
    justify-content: center;
    align-items: center;
    background-image: url("5.jpg");
}
.header{
    display:flex;
    background-image: url("5.jpg");
    border:2px solid black;
    box-shadow: 0px 2px 10px 2px black;
}
.text1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    position: relative;
    text-align: left;
    float:left;
    margin-left: 40px;
    margin-top:7px;
}
.hello{
    position:relative;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float:right;
    margin-left: 80px;
    margin-top: 40px;
    font-size:20px;

}
li{
    display: inline-block;
    padding: 20px 20px 20px 20px;
}

li a{
    text-decoration: none;
    color:brown
}
li a:hover{
 
    color:black;
    text-decoration:overline;
}
.row{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.box1{
    width:300px;
    height:320px;
    background-image: url("5.jpg");
    padding:10px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px black;
}
.box2{
    width:300px;
    height:320px;
    background-image: url("5.jpg");
    padding:10px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px black;
}
.box3{
    width:300px;
    height:320px;
    background-image: url("5.jpg");
    padding:10px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px black;
}
.img1{
    width:50%;
    height:200px;
}
.img2{
    width:50%;
    height:200px;
}
.img3{
    width:50%;
    height:200px;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:10px;
    margin-left: -20px;
    color: #060606;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 20px;
    width:30%;
    text-align: center;
}
button{
    position: relative;
    margin-left:135px;
    margin-bottom: 100px;
    border:none;
    outline:none;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    width:50%;
    font-weight: bold;
    color:rgb(1, 0, 0);
    background-color:#30b4b7;
    box-shadow: 3px 3px 7px 2px ;
}
button:hover{
    position: relative;
    margin-left:135px;
    margin-bottom: -100px;
    border:none;
    outline:none;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    text-decoration: underline;
    padding:10px;
    width:50%;
    color:rgb(31, 31, 34);
    cursor:pointer;
    background-color:#30b4b7;
    box-shadow: 2px 2px 7px -2px black;
}
.para{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:50%;
    margin-top:-180px;
    margin-left: 160px;
    font-size: larger;
}
.titles{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:55px;
}
.para2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:48%;
    margin-top:-180px;
    margin-left: 160px;
    font-size: larger;
}
.para3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width:48%;
    margin-top:-180px;
    margin-left: 160px;
    font-size: larger;
}
.row2{
    display: flex;
    width:100%;
    margin-top: 60px;
    border-radius: 20px;
}
.nextimg{
    width:auto;
    height:450px;
    border-radius: 20px;
    margin-left: 10px;
}
.row3{
    display: flex;
    width:100%;
    margin-top: 60px;
    border-radius: 20px;
}
.nextimg2{
    width:auto;
    height:450px;
    border-radius: 20px;
    margin-right: 10px;
}
.nexttitles{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    margin-left: 250px;
    margin-top: 20px;
    text-decoration: underline;
}
.nextpara{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 80%;
    margin-top:100px;
    margin-left: 100px;
    font-size:30px;
    font-weight: lighter;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -180px;
    width:10%;
    color: #30b4b7;
    letter-spacing: 3px;
}
.logo
{
    height:150px;
    width:200px;
    padding-right: 130px;
    margin-top: 0px;
    align-items: center;
    background-color: #060606;
    box-shadow: 3px 2px 12px 8px;
}
h5{
padding-top: 55px;
padding-left: 70px;
margin-left: 60px;
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 4px;
text-decoration: overline;
color: #5A3825;
}
